	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
	<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

	<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>


	<!-- Fix FancyBox style for OctoPress -->
	<style type="text/css">
		.fancybox-wrap { position: fixed !important; }
		.fancybox-opened {
			-webkit-border-radius: 4px !important;
			-moz-border-radius: 4px !important;
			border-radius: 4px !important;
		}
		.fancybox-close, .fancybox-prev span, .fancybox-next span {
			background-color: transparent !important;
			border: 0 !important;
		}
	</style>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
		$(document).ready(function() {
			$('.fancybox-media').fancybox({
				openEffect  : 'none',
				closeEffect : 'none',
				helpers : {
					media : {}
				}
			});
		});
	</script>
